# Ignore Python cache
__pycache__/
*.pyc

# Ignore notebooks checkpoints
*.ipynb_checkpoints/

# Ignore datasets
data/
*.csv

# Ignore virtual environment
venv/

# VS Code settings (optional)
.vscode/

#DS_Store Stores folder-specific metadata like icon positions, 
#view settings, and window attributes
.DS_Store